/** MAIN APP CSS **/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root [color-scheme=dark] {
  --main_background_color: #181818;
  --main_text_color: rgb(228, 228, 228);
  --second_text_color: #a8a8a8;
}
:root [color-scheme=light] {
  --main_background_color: rgb(228, 228, 228);
  --main_text_color: #181818;
  --second_text_color: #383838;
}

#portfolio,
html,
header,
footer,
body,
#app {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

#portfolio {
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex: 1;
}

main {
  flex: 8;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

header,
footer,
main {
  padding: 10px 20px;
}

a {
  text-decoration: none;
  margin: 3px;
}

p {
  letter-spacing: 0.056em;
  line-height: 1.9;
}

.bold {
  font-weight: bolder;
}

.italic-font {
  font-style: italic;
}

#main-content {
  position: relative;
  z-index: 2;
  padding: 2rem 4rem;
}

.full-height {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex-between-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  text-align: center;
}

.text-centered {
  text-align: center;
}

.back-panel, .next-panel {
  position: absolute;
  z-index: 2;
}
.back-panel img, .next-panel img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.next-panel {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.75rem;
}

.back-panel {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.75rem;
  transform: rotate(180deg);
  z-index: 3;
}

.transition-component-enter-from,
.transition-component-leave-to {
  opacity: 0;
}

.transition-component-enter-to,
.transition-component-leave-from {
  opacity: 1;
}

.transition-component-enter-active {
  transition: all 1.6s cubic-bezier(1, 0.5, 0.8, 1);
}

.transition-component-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

/** MAIN APP CSS **/
/** Theme Selector SCSS **/
#theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#theme-container .theme-container__switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
}
#theme-container .theme-container__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#theme-container .theme-container__switch .theme-container__ball {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 1.5s ease-in-out;
  border: 1px solid var(--second_text_color);
}
#theme-container .theme-container__switch .theme-container__ball:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: all 1.5s ease-in-out;
}
#theme-container .theme-container__switch input:checked + .theme-container__ball {
  background-color: var(--main_background_color);
}
#theme-container .theme-container__switch input:focus + .theme-container__ball {
  box-shadow: 0 0 1px var(--main_background_color);
}
#theme-container .theme-container__switch input:checked + .theme-container__ball:before {
  transform: translateX(26px);
}
#theme-container .theme-container__ball.round {
  border-radius: 34px;
}
#theme-container .theme-container__ball.round:before {
  border-radius: 50%;
}

@media (max-width: 900px) and (orientation: portrait) {
  #theme-container {
    position: unset;
    z-index: 0;
  }
}
/** Theme Selector SCSS **/
/** Panel guide CSS **/
#panel-guide {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
#panel-guide span {
  margin: 0 0.75rem;
}
#panel-guide span.panel-guide__item {
  cursor: pointer;
}

@media (max-width: 900px) and (orientation: portrait), only screen and (min-width: 660px) and (max-height: 600px) {
  #panel-guide {
    justify-content: space-around;
    width: auto;
    height: auto;
    margin: 0.75rem 0;
  }
  #panel-guide span {
    margin: 0;
  }
}
/** Panel guide CSS **/
/** First panel CSS **/
#first #first__panel {
  font-size: 2.35rem;
}

@media (max-width: 900px) and (orientation: portrait), only screen and (min-width: 660px) and (max-height: 600px) {
  #first #first__panel {
    font-size: 1.35rem;
  }
}
/** First panel CSS **/
/** Second panel CSS **/
#second #second__container {
  display: flex;
  justify-content: space-between;
}
#second #second__container .frame-image img {
  width: 18rem;
  height: 18rem;
  border: 3px solid var(--main_text_color);
  border-radius: 50%;
}
#second #second__container .about-me .about-me__headline {
  padding: 0.5rem 2rem;
  border-bottom: 0.15rem solid var(--second_text_color);
}
#second #second__container .about-me .about-me__text {
  margin: 1.2rem 0;
  padding: 0 2.5rem;
  font-style: italic;
}

@media (max-width: 900px) and (orientation: portrait), only screen and (min-width: 660px) and (max-height: 600px) {
  #second #second__container {
    flex-direction: column;
  }
  #second #second__container .frame-image img {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }
  #second #second__container .about-me .about-me_headline {
    padding: 0.5rem 0.75rem;
    border-bottom: 0.15rem solid var(--second_text_color);
  }
  #second #second__container .about-me .about-me__introduction .about-me__text {
    padding: 0 0.75rem;
  }
}
/** Second panel CSS **/
/** Third panel CSS **/
#work #work__experience .work__job {
  margin: 0.75rem 0 1rem 0;
}
#work #work__experience .work__job .work__role {
  font-style: italic;
}

/** Third panel CSS **/
/** Fourth panel CSS **/
#knowledge {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
#knowledge #knowledge__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
  gap: 10px;
  padding: 10px;
}
#knowledge #knowledge__container .item {
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear;
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
}
#knowledge #knowledge__container .item img {
  width: 100%;
  height: 100%;
}
#knowledge .knowledge__expand {
  overflow: hidden;
  height: 300px;
  position: relative;
  border: 1px solid var(--main_text_color);
  border-radius: 10px;
  margin: 0 45px;
}
#knowledge .knowledge__expand .knowledge_list {
  display: flex;
  height: 100%;
  overflow-y: scroll;
  padding: 1.25rem 1rem 1.25rem 0;
  transition: all 1s;
}
#knowledge .knowledge__expand .circle {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0vw;
  height: 0vw;
  background-color: var(--main_text_color);
  border-radius: 50%;
}
#knowledge .knowledge__expand .circle.circle_cover {
  animation: expandCircle 1.5s forwards;
  z-index: 2;
}
#knowledge .knowledge__expand .moving-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--main_text_color);
  border-radius: 50%;
  transition-duration: 5s;
}
#knowledge .knowledge__expand .moving-circle.moving-circle-opacity {
  transition-duration: 1s;
  opacity: 0;
}
#knowledge .knowledge__expand .onComponentEnter {
  opacity: 0;
  transition: all 1s;
}

@keyframes rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes expandCircle {
  0% {
    width: 0vw;
    height: 0vw;
  }
  50% {
    width: 200vw;
    height: 200vw;
  }
  100% {
    width: 0vw;
    height: 0vw;
  }
}
@media (max-width: 900px) and (orientation: portrait) {
  #knowledge .knowledge__expand {
    margin: 0;
  }
}
/** Third panel CSS **/
/** Footer CSS **/
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 900px) and (orientation: portrait) {
  footer {
    flex-direction: column;
  }
}
/** Footer CSS **/
body {
  background-color: var(--main_background_color);
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), hsla(0, 0%, 100%, 0));
  background-repeat: no-repeat;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body h1, body h2, body p, body ol, body ul, body span {
  color: var(--main_text_color);
}
body h3 {
  color: var(--second_text_color);
}

.logo-container {
  background-color: transparent;
}
.logo-container .logo {
  width: 40px;
  height: 40px;
  margin: 0 7px;
}

.border-top-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.border-bot-svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

#svggradient-top .gradient1, #svggradient-bottom .gradient1 {
  stop-color: #616161;
}
#svggradient-top .gradient2, #svggradient-bottom .gradient2 {
  stop-color: #333;
}
#svggradient-top .gradient3, #svggradient-bottom .gradient3 {
  stop-color: #616161;
}

.no-background {
  background-color: transparent;
}

.fade-up {
  opacity: 0;
  animation: fade-up 1s forwards cubic-bezier(0.2, 2, 0.4, 1);
  animation-delay: 0.25s;
}
.fade-up.second-delay {
  animation-delay: 0.5s;
}
.fade-up.third-delay {
  animation-delay: 0.75s;
}

@keyframes fade-up {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@media (max-width: 900px) and (orientation: portrait), only screen and (min-width: 660px) and (max-height: 600px) {
  header {
    flex-direction: column;
    justify-content: unset;
  }
  body {
    font-size: 13px;
  }
  .next-panel {
    right: 1.25rem;
  }
  .back-panel {
    left: 1.25rem;
  }
  .back-panel, .next-panel {
    position: fixed;
  }
  .back-panel img, .next-panel img {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-height: 600px) {
  .border-top-svg, .border-bot-svg {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
